footer {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #52005d;
}

footer a {
    color: #52005d;
}

footer a:hover {
    color: #D378FE;
}