footer {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #52005d;
}

footer p {
    color: white;
}

.nuestras_redes h4{
    color: white !important;
}

.redes_sociales img {
    height: 6vh;
    width: 3vw;
    border-top: 2vh #52005d solid;
}

.redes_sociales {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}