/* --- --- BARRA DE NAVEGACIÓN --- --- --- */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100%;
    position: sticky;
    background-color: white; /* SIN WHITE, ES TRANSPARENTE*/
}

nav a {
    color: #52005D;
    font-weight: bolder;
    text-decoration: none;
}

nav a:hover {
    color: #B242C1;
}

.nav_img{
    width: 40%;
}

.nav_img img {
    width: 70%;
}

.nav_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}

.sticky {
    top: 0;
    width: 100%;
}