.servicios_title h1, h3 {
    color: #52005d !important;
    font-size: xx-large;
}

.servicios p {
    color: black;
    font-size: medium;
    text-align: center;
}

.servicios {
    border-top: 15vh white solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100%;
    border-bottom: 1px #52005d solid;
}

.servicios_item img {
    height: 7vh;
    width: 4vw;
}

.servicios_container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2vw;
    width: 80%;
}

.servicios_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 20vh;
    border: 0.3vw white solid;
    border-radius: 10%;
    padding: 2vh;
}

.servicios_item 

.servicios_item:hover {
    cursor: pointer;
    border-color: #B242C1;
}
