/* DEFINICION DE LA ESTRUCTURA DEL SLOGAN/BANNER */
.slogan {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 90vh;
}
/* DEFINICION DE APARTADO DESCRIPCION DEL BANNER */
.slogan_descripcion {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.slogan h1{
    color: #52005d;
}

.slogan h1 {
    font-size: xx-large;
}

.slogan_descripcion_title {
    width: 80%;
}

/* --- BOTÓNES CALL TO ACTION --- */
.slogan_descripcion_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 20%;
}

.slogan_descripcion_buttons a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    font-size: large;
    font-weight: 500;
    width: 35%;
    height: 40%;
    border-radius: 5%;
    transition: 0.5s;
    /* box-shadow: 10px 10px 20px rgba(178, 66, 193, 0.8); */
}

.slogan_agendar_cita {
    background-color: #52005d;
    color: white;
}

.slogan_nuestros_servicios {
    background-color: white;
    color: #52005d;
    border: 1px #52005d solid;
}

.slogan_descripcion_buttons a:hover {
    background-color: #009F9F;
    transform: scale(1.1, 1.1);
    color: white;
    border: 1px white solid;
    /* box-shadow: 10px 10px 20px rgba(0, 159, 159, 0.8); */
}