.slogan {
    background-color: #D378FE;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
}

.slogan h1, h3 {
    color: white;
}

.slogan h1 {
    font-size: xx-large;
}

.slogan h3 a {
    color: #52005d;
}

.slogan h3 a:hover {
    color: #A6F7F1;
}