.solicitar_cita {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-top: 10vh;
    height: 42vh;
}

.solicitar_cita h1 {
    color: #52005d;
    font-size: xx-large !important;
}

.solicitar_cita a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: large;
    font-weight: bold;
    height: 8vh;
    width: 15vw;
    background-color: #52005d;
    border-radius: 5%;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

.solicitar_cita a:hover {
    background-color: #B242C1;
    transform: scale(1.1, 1.1);
    background-color: #009F9F;
}

