<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profesionales</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/profesionales.css">
</head>

<body>

    <!-- --- --- INICIO SECCION CARRUSEL PROFESIONALES --- --- -->
    <div id="carouselExampleCaptions" class="carousel slide">

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6"
                aria-label="Slide 7"></button>
        </div>


        <div class="carousel-inner">

            <!-- MÓNICA MARÍA AGUDELO -->
            <div class="carousel-item active">
                <img src="../static/img/profesionales/monica_agudelo.png" class="d-block w-100 profesionales" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Mónica María Agudelo</h3>
                    <p>
                        Psicóloga USB (1996) | Especialista en Psicología Clínica. Enfoque cognitivo Uninorte (1998) |
                        Experencia en el área clínica (Adultos, Adolescentes y Pareja) y Educativa
                    </p>
                </div>
            </div>

            <!-- CAMILA ARANGO RESTREPO -->
            <div class="carousel-item">
                <img src="../static/img/profesionales/camila_arango.png" class="d-block w-70" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Camila Arango Restrepo</h3>
                    <p>
                        Psicóloga UPB (2016) | Especialista en Psicología Clínica y Salud Mental UPB (2017) |
                        Experencia en el área clínica (Adultos, Personas Mayores y Pacientes Psiquiátricos)
                    </p>
                </div>
            </div>

            <!-- ANA MARÍA SIERRA -->
            <div class="carousel-item">
                <img src="../static/img/profesionales/ana_sierra.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Ana María Sierra</h3>
                    <p>
                        Psicóloga UPB (2006) | Especialista en Psicología Social UPB (2008) | Magíster en Psicología y
                        Salud Mental UPB (2013) |
                        Experiencia en el área clínica (Niños, Adolescentes y Adultos) y Educativa
                    </p>
                </div>
            </div>

            <!-- NATHALIA LÓPEZ CASTAÑEDA -->
            <div class="carousel-item active">
                <img src="../static/img/profesionales/nathalia_lopez.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Nathalia López Castañeda</h3>
                    <p>
                        Psicóloga UPB (2016) | Especialista en Adicciones y Salud Mental FUNLAM (2018) |
                        Experencia en Rehabilitación de Adicciones Intrahospitalaria y Ambulatoria (Adolescentes y
                        adultos)
                    </p>
                </div>
            </div>

            <!-- ANDREA TORO URIBE -->
            <div class="carousel-item active">
                <img src="../static/img/profesionales/andrea_toro.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Andrea Toro Uribe</h5>
                    <p>
                        Psicóloga CES (2016) | Especialista en Psicología Médica y de la Salud, Universidad del Bosque
                        (2018) |
                        Magíster con doble titulación en Psicología Clínica y de la Salud ISEP (2019) |
                        Experiencia en el área hospitalaria (Adolescentes y Adultos) y Educativa
                    </p>
                </div>
            </div>

            <!-- DIANA CASTRILLÓN PÉREZ -->
            <div class="carousel-item active">
                <img src="../static/img/profesionales/diana_castrillon.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Diana Castrillón Pérez</h3>
                    <p>
                        Psicóloga CES (2009) | Especialista en Rehabilitación Neuropsicológica CES (2012) |
                        Experencia en el área Intrahospitalaria y Ambulatoria. Evaluación y Rehabilitación en Niños y
                        Adultos
                    </p>
                </div>
            </div>

            <!-- DRA. LUISA FERNANDA NARANJO -->
            <div class="carousel-item active">
                <img src="../static/img/profesionales/luisa_naranjo.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Dra. Luisa Fernanda Naranjo</h3>
                    <p>
                        Médica UPB (2016) | Psiquiatra UPB (2020) | Experencia con Niños, Adolescentes y Adultos Con
                        diferentes
                        diágnosticos Psicopatológicos
                    </p>
                </div>
            </div>
        </div>

        <!-- --- --- BOTÓN DE REGRESO --- --- -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <!-- --- --- BOTÓN DE SIGUIENTE --- --- -->
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

        <!-- --- --- FIN SECCION CARRUSEL PROFESIONALES --- --- -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>