<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Descripción de la Empresa</title>
    <link rel="icon" href="./static/img/ico/isotipo_light_blue_2x.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/profesionales.css">
    <link rel="stylesheet" href="../css/scrollbar.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/servicios.css">
    <link rel="stylesheet" href="../css/slogan.css">
    <link rel="stylesheet" href="../css/whatsapp.css">
    <link rel="stylesheet" href="../css/quienesSomos.css">
</head>
<body>
    <div class="informacion_ubicacion">

        <a href="#inicio">
            <img src="../static/img/Logos/PNG/Secundario/Logo Secundario Simplificado-09.png" class="main_logo_informacion_ubicacion" alt="Logo Principal Globalmente Psicologos">
        </a>

        <div class="ubicacion_item">
            <img src="../static/img/icons/location.svg" class="location_svg">
            <p>
                Calle 18C Sur # 43a 200 Sao Paulo Plaza, consultorio 921.
            </p>
        </div>

        <div class="ubicacion_item">
            <img src="../static/img/icons/location.svg" class="location_svg">
            <p>
                Cl. 23 Sur # 42B 60 Edificio O'Clock consultorio 505
            </p>
        </div>

        <div class="ubicacion_item">
            <img src="../static/img/icons/location.svg" class="location_svg">
            <p>
                Calle 2 Sur # 46 108 Torre Médica Salud Vegas consultorio 1212. 
            </p>
        </div>

        <div>
            <img src="../static/img/icons/location.svg" alt="Telefono Celular Inteligente">
            <h3>
                Central de Citas
            </h3>
            <a href="https://wa.me/573227760588?text=Hola%20quiero%20solicitar%20una%20cita%20psicológica%20con%20GlobalMente" 
            id="whatsapp">WhatsApp: +57 3227760588</a>
        </div>

    </div>
    

    <header>
        <nav class="nav_bar">
                <a href="#inicio" class="nav_bar_item">Inicio</a>
                <a href="./templates/quienes_somos.html" class="nav_bar_item">¿Quiénes Somos?</a>
                <a href="#cultura" class="nav_bar_item">Cultura</a>
                <a href="#servicios" class="nav_bar_item">Servicios</a>
                <a href="#profesionales" class="nav_bar_item">Profesionales</a>
                <a href="./templates/blog_globalmente.html" target="_blank" class="nav_bar_item">Blog</a>
                <a href="./templates/solicitar_cita.html" target="_blank" class="nav_bar_item">Solicitar Cita</a>
                <a href="#contacto" class="nav_bar_item">Contáctanos</a>
        </nav>
    </header>
    <body>
        
        <div class="flex-container">
            
            <div class="flex-item">
                <h1>Nuestro Historia</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis necessitatibus, quasi et similique autem architecto quae fuga recusandae voluptatibus quo, asperiores at doloremque explicabo error itaque voluptatum? Eum harum minima hic consectetur asperiores pariatur alias accusantium, natus quia culpa voluptatum atque quasi. Exercitationem quibusdam sit consectetur fuga, laudantium suscipit hic!</p>
            </div>
    
            <div class="flex-item">
                <h2>Video de la Empresa</h2>
                <video width="320" height="240" controls>
                    <source src="ruta-al-video.mp4" type="video/mp4">
                    Tu navegador no soporta el elemento de video.
                </video>
            </div>
        </div>
        <div class="flex-container">
            
            <div class="flex-item">
                <h1>Logros y Reconocimientos</h1>
                <br><br>
                <li>Lorem ipsum dolor sit amet.</li>
                <br>
                <li>Lorem ipsum dolor sit amet.</li>
                <br>
                <li>Lorem ipsum dolor sit amet.</li>
                <br>
                <li>Lorem ipsum dolor sit amet.</li>
            </div>
    
            <div class="flex-item">
                <h1>Mision y Valores</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit eveniet rerum eaque ipsum placeat voluptatem, dolor hic quasi illum quam nisi labore vero, amet officia quod dolorum, dicta harum earum perferendis nesciunt. Officia, sequi pariatur. Officiis quasi illum odio corrupti sapiente eligendi, atque laudantium ex quas sit ipsa, quod ullam.</p>
                
            </div>
        </div>
        
    </body>
    </html>
    <a href="https://wa.me/573227760588?text=Hola%20quiero%20solicitar%20una%20cita%20psicológica%20con%20GlobalMente" 
    class="whatsapp" target="_blank"> 

    <div style="clear: both;"></div>
    <script src="./js/header.js"></script>
    <script src="./js/main.js"></script>
    <script src="./js/form.js"></script>
    <footer>
        <p>
            Todos los Derechos Reservados a GlobalMente | Desarrollo Web por 
            <a href="https://github.com/DavidMolina19" target="_blank">David Molina Torres</p></a>
    </footer>
</body>

</html>
