<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">

    <title>Servicios</title>
    
    <link rel="stylesheet" href="../css/pagServicios.css">
    <link rel="stylesheet" href="../css/nav_bar.css">
    <link rel="stylesheet" href="../css/logo.css">
    <link rel="stylesheet" href="../css/slogan.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/index.css">
    

</head>
<body>
       
     <!-- ---  ---  BARRA DE NAVEGACIÓN ---  ---  ---  -->
     <nav class="nav_bar" id="navbar">
        <div class="nav_img">
            <a href="../index.html">
                <img src="../static/img/Logos/PNG/Secundario/logo_secundario_tagline_10_2x.png"
                    alt="Logo Principal Globalmente Psicologos">
            </a>
        </div>
        <div class="nav_menu">
            <a href="../index.html">Inicio</a>
            <a href="../templates/sobre_nosotros.html" class="nav_bar_item">Sobre Nosotros</a>
            <a href="#servicios" class="nav_bar_item">Servicios</a>
            
            <a href="../templates/contactanos.html" class="nav_bar_item">Contáctanos</a>
        </div>
    </nav>


    

    <div class="services-container">

        <div class="service">
            <h2>Terapia de Pareja</h2>
            <p>
     Es una especialidad de la psicología que se enfoca en ayudar a las parejas a resolver conflictos, mejorar la comunicación y fortalecer su relación. Esta terapia proporciona un espacio seguro, guiado por un profesional capacitado, en el que las parejas pueden abordar sus problemas y trabajar en conjunto para encontrar soluciones. Te mencionamos algunos beneficios de este tipo de terapia:  
    <br><br>    😍 La pareja aprende habilidades de comunicación más saludables y efectivas, lo que les permite expresarse de manera clara y comprensible, y escuchar activamente a su pareja.
    <br>    😍 Se brindan herramientas y técnicas para abordar los conflictos de manera constructiva y encontrar soluciones mutuamente satisfactorias. Esto ayuda a reducir la tensión y promover una mayor armonía en la relación.
    <br>    😍 La pareja puede explorar y comprender mejor sus propias necesidades y las de su compañero(a), lo que facilita la construcción de una conexión más profunda y significativa. Además, la terapia puede ayudar a reconstruir la confianza y la seguridad emocional, especialmente después de una traición o ruptura en la relación.
    <br>    😍 Incluso en relaciones saludables, puede ayudar a las parejas a mantener una comunicación abierta, resolver problemas rápidamente y fortalecer su conexión emocional. 
    <br>       Mejora tu relación, resuelve conflictos, fortalece la comunicación y reconstruye el vínculo emocional. Aprende habilidades para construir una relación más sólida y feliz. 
    <br><br>Únete a nosotros en un espacio seguro y confidencial, donde un profesional capacitado te ayudará a reconstruir y fortalecer tu relación. 💖
            </p>
        </div>

        <div class="service">
            <h2>Neuropsicología</h2>
            <p class="parrafo">
                La Neuropsicología se dedica a estudiar y a trabajar en los procesos mentales complejos, es decir, en la atención, memoria, lenguaje, percepción, praxias, funciones ejecutivas y emoción; y en cómo todo este conjunto de habilidades nos hace ser quienes somos y cómo reaccionamos ante ciertas situaciones. Estos son algunos de los síntomas que pueden llevarnos a buscar ayuda neuropsicológica:
    <br>         ❗ Dificultades escolares o en el aprendizaje.
    <br>         ❗ Fallas para mantener la atención. 
    <br>         ❗ Alteraciones en el habla o el lenguaje. 
    <br>         ❗ Problemas de memoria u olvidos.
    <br>
                Asimismo, la evaluación neuropsicológica permite detectar condiciones como las siguientes y plantear su tratamiento:

    <br>❗ Trastorno por Déficit de Atención e Hiperactividad (TDAH).
    <br>❗ Trastornos del Espectro del Autismo.
    <br>❗ Discapacidad intelectual.
    <br>❗ Alzheimer u otros Trastornos Neurocognitivos.
    <br>❗ Secuelas cognitivas de eventos cerebrovasculares, epilepsia, tumores cerebrales, TEC.
    <br>
    <br>
        Solicita tu cita o la de tus familiares con nuestros profesionales, quienes te atenderán siempre con la mayor calidez y te ayudarán a resolver tus inquietudes.

            </p>
        </div>

        <!-- Repite este bloque para cada servicio -->
        <div class="service">
            <h2>ORIENTACIÓN PROFESIONAL</h2>
            <p>
                     La orientación profesional es un proceso fundamental en el desarrollo de una persona, ya que implica explorar, comprender y elegir una carrera o profesión que se ajuste a sus habilidades, intereses y valores. Desde una perspectiva psicológica, la orientación profesional no solo se trata de encontrar un qué hacer a nivel profesional y laboral, sino de descubrir y cultivar un camino que proporcione satisfacción, significado y bienestar emocional. 😄
            <br>     En GlobalMente, ofrecemos procesos adaptados a las necesidades individuales de cada persona. Utilizamos pruebas psicotécnicas y herramientas de evaluación para ayudar a identificar intereses, habilidades y características de personalidad. <br> Además, brindamos información actualizada sobre diferentes campos laborales, tendencias del mercado y oportunidades de crecimiento. 📈.
             <br> <br>   En algunos casos pueden surgir desafíos emocionales y conflictos internos relacionados con la elección de carrera. Estos pueden ser influenciados por presiones sociales, expectativas familiares y temores personales. En estos casos, es recomendable realizar adicionalmente una terapia psicológica que pueda ayudar a manejar el estrés, explorar los bloqueos emocionales y brindar herramientas para tomar decisiones con mayor confianza y seguridad. 👍
            </p>
        </div>
        <div class="service">
            <h2>PSICOLOGÍA DE LA SALUD</h2>
            <p>
                La Psicología de la Salud es una rama de la psicología específicamente orientada a evaluar, observar y comprender la relación existente entre la salud física, emocional y comportamental de las personas. 
                El especialista en Psicología de la Salud se ocupa principalmente de:
                	Estudiar y comprender los factores (ambientales, culturales, psicológicos, comportamentales, entre otros) que puedan influir en la aparición de una enfermedad.</li>
                <li>	Promover y fomentar la salud (factores protectores, hábitos saludables, etc.).</li>
                <li>	Prevenir enfermedades o sus posibles complicaciones.</li>
                <li>	Acompañar a las personas en el proceso de adaptación en caso de aparición de una enfermedad.</li>
                  <br>  Únete a nosotros en un espacio seguro y confidencial, donde un profesional capacitado te ayudará y acompañará en todo lo relacionado con la salud mental, emocional y física. 💖
            </p>
        </div>
        <div class="service">
            <h2>PSIQUIATRÍA</h2>
            <p>
                ¿Qué necesitas, Psicólogo o Psiquiatra?<br>
Aquí te explicamos las principales diferencias. Es frecuente encontrar dudas en relación a cuál profesional acudir cuando se requiere acompañamiento.<br>
Vamos a empezar por entender que el psicólogo es un profesional formado en el área de las ciencias sociales, mientras que el psiquiatra es un médico especializado en Psiquiatría, formado en el área de la salud. 🩺<br>
Ambos profesionales pueden ayudarte pues su abordaje no es opuesto, de hecho, es común que se recomiende un abordaje en terapia combinada.<br>
Para los psiquiatras el abordaje tiene como prioridad identificar un diagnóstico para hacer un manejo farmacológico que pretende curar o controlar los síntomas. 💊<br><br>
En cuanto al manejo brindado por psicología está basado en técnicas y herramientas que pretenden comprender de manera global la interacción entre el individuo, entorno, cognición, emoción y conducta con el fin de que logre un mejor afrontamiento de la situación e identificar posibles maneras de prevenir otras recaídas. 🤓<br>
En general, si estás presentando alucinaciones o cualquier tipo de alteración sensorial, ideación suicida u alteraciones en tu estado de ánimo que están interfiriendo con tu desempeño en las diferentes áreas de la vida, se recomienda acudir primero a una evaluación por psiquiatría. 👍<br><br>
En conclusión, ambos abordajes van a impactar de manera positiva en tu calidad de vida e independiente de a quién consultes primero, nuestros profesionales en psicología y psiquiatría te darán orientación sobre los pasos a seguir.

            </p>
        </div>
        <div class="service">
            <h2>PSICOLOGÍA ORGANIZACIONAL</h2>
            <p>
                La psicología organizacional es un área de la psicología dedicada a ayudar a las empresas a evaluar las competencias, habilidades, percepciones y el potencial de los empleados para alcanzar los objetivos de la organización, al mismo tiempo que contribuye a su desarrollo humano y profesional.
                En Globalmente tenemos especialistas que se encargan de evaluar y apoyar tu organización en áreas como:
                <li> Procesos de Selección </li>
                <li>Descripciones de cargos y definiciones de perfiles.</li>
                <li>Retroalimentación y desarrollo de ejecutivos y equipos de trabajo.</li>
                <li>Coaching Personal y ejecutivo.</li>
                <li>Desarrollo de competencias (planes de desarrollo), en temas como autocontrol, escucha, orientación a resultados, iniciativa, autoconfianza, relacionamiento efectivo, orientación al cliente, flexibilidad, asertividad y gestión emocional.</li>
                <li>Talleres en desarrollo de habilidades conversacionales y liderazgo.</li>
                <li>Evaluación del desempeño.</li>
                <br>Adicionalmente, nuestros profesionales también podrán ayudarte a elaborar de manera adecuada tu HOJA DE VIDA, teniendo en cuenta tu historia laboral, tus habilidades y competencias y tu proyecto de vida a nivel laboral.
                Pide tu cita hoy mismo.
            </p>
        </div>
        <div class="service">
            <h2>PSICOLOGÍA CLÍNICA PARA NIÑOS Y ADOLESCENTES</h2>
            <p>
                La Psicología clínica es la rama de la Psicología que se encarga de la investigación, la evaluación, el diagnóstico y el tratamiento de todas aquellas cuestiones que afectan a la salud mental y que pueden generar malestar o sufrimiento en las personas, con el objetivo de restaurar su equilibrio psicológico.
                <br><br>En Globalmente ofrecemos atención especializada para niños y adolescentes, aplicando estrategias terapéuticas especiales para este sector de la población.
                <br><br>Nuestros psicólogos Infantiles aplican tratamientos con avanzadas técnicas que intervienen de un modo integral en los problemas de los menores, para lograr que obtengan una positiva relación con su entorno familiar, escolar y social.
                <br>Por su lado, el psicólogo especialista en adolescentes, brinda apoyo emocional para que los jóvenes, a su edad, sean capaces de resolver conflictos con otras personas, entender sus propios problemas y emociones, así como generar nuevas respuestas ante sus conflictos internos.
                <br><br>Cabe anotar que también ofrecemos asesoría para los padres de familia para el manejo de sus hijos en estas etapas de vida.
            </p>
        </div>
        <div class="service">
            <h2>PSICOLOGÍA CLÍNICA PARA ADULTOS Y ADULTOS MAYORES</h2>
            <p>
                La Psicología clínica es la rama de la Psicología que se encarga de la investigación, la evaluación, el diagnóstico y el tratamiento de todas aquellas cuestiones que afectan a la salud mental y que pueden generar malestar o sufrimiento en las personas, con el objetivo de restaurar su equilibrio psicológico. <br><br>
                La psicología clínica en el adulto busca ayudar al manejo del malestar provocado por procesos de duelo, estrés académico o laboral, dificultades familiares, rupturas sentimentales, cambios vitales, episodios traumáticos, baja autoestima, miedos, fobias, depresión, ansiedad, entre otros.
                <br><br>Por su parte, la psicología clínica en el adulto mayor se encarga de promover la participación activa de la persona mayor en un momento concreto de su vida y lo acompaña en el proceso de envejecimiento con asuntos relativos al declive físico y asociados al ambiente social. Ejemplos de estos últimos serían los derivados de la jubilación, la pérdida de seres queridos o la salud.
                <br><br>En Globalmente encontrarás el psicológo que necesitas.
                <br> Recuerda que nos capacitamos día a día en el conocimiento científico y que nos caracteriza siempre la atención con calidez a quienes nos consultan.
            </p>
        </div>
    </div>


    <footer>
        <div class="footer_container">
            <div class="derechos_reservados">
                <p>
                    Todos los derechos reservados GlobalMente Psicólogos
                </p>
            </div>

            <div class="social_media_icons">
                <a href="https://www.instagram.com/globalmentepsicologos/" target="_blank">
                    <img src="../static/img/icons/instagram.png" alt="Logo Instagram">
                </a>
                <a href="https://www.facebook.com/psicologos.global.mente/" target="_blank">
                    <img src="../static/img/icons/facebook.png" alt="Logo Facebook">
                </a>
            </div>
        </div>
    </footer>

<script src="../js/sticky.js"></script>
</body>
</html>
