<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros | GlobalMente Psicólogos</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/nav_bar.css">
    <link rel="stylesheet" href="../css/sobre_nostros.css">
    <link rel="stylesheet" href="../css/logo.css">
</head>

<body>

    <!-- ---  ---  BARRA DE NAVEGACIÓN ---  ---  ---  -->
    <nav class="nav_bar" id="navbar">
        <div class="nav_img">
            <a href="#inicio">
                <img src="./static/img/Logos/PNG/Secundario/logo_secundario_tagline_10_2x.png"
                    alt="Logo Principal Globalmente Psicologos">
            </a>
        </div>
        <div class="nav_menu">
            <a href="#inicio">Inicio</a>
            <a href="#sobre_nosotros" class="nav_bar_item">Sobre Nosotros</a>
            <a href="#servicios" class="nav_bar_item">Servicios</a>
            <a href="./templates/blog_globalmente.html" target="_blank" class="nav_bar_item">Blog</a>
            <a href="#contacto" class="nav_bar_item">Contáctanos</a>
        </div>
    </nav>

</body>
</html>